body {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.to-do-create {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.to-do-input {
  width: 100%;
  border: none;
  border-bottom: 1px solid lightgrey;
  outline: none;
  height: 25px;
}

.to-do-create-btn {
  margin-top: 20px;
}

.to-do-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid lightgrey;
  padding: 5px;
  margin-top: 20px;
  border-radius: 5px;
}

.icon {
  font-size: x-large;
  cursor: pointer;
}

.icon-item {
  margin-right: 5px;
}

.to-do-item-text {
  margin: 15px;
  font-size: large;
}

.to-do-item-input {
  margin: 10px;
  padding: 5px;
  width: 400px;
  height: 20px;
  font-size: medium;
  border: none;
  border-bottom: 1px solid lightgrey;
  outline: none;
}